-# Needs js suffix if exists same dirs
= javascript_pack_tag 'controllers/home.js'

%div{style: "min-height:600px;"}
  %h4 Toppage

  #home-app
    %el-row
      %el-col{":md": "12"}
        %el-progress{":percentage": "50"}
      %el-col{":md": "12"}
        %el-tag{"type": "success"}
          Tag 2
        %el-select{"v-model": "selectedValue"}
          %el-option{"v-for": "item in [{value: 'v-a', label: 'v-l'}]",
          ":key": "item.value",
          ":label": "item.label",
          ":value": "item.value"}

    {{message2}}
    {{selectedValue}}
    %sample
    %router-link{"to": "/page1"}
      Page1
    \|
    %router-link{"to": "/page2"}
      Page2
    %router-view{"v-bind:message2": "message2"}
